
#overlay
	position: fixed
	z-index: 150
	left: 0
	top: 0
	right: 0
	bottom: 0
	width: 100vw
	height: 100vh
	background-color: $tsp
	backdrop-filter: blur(15.1px)
	-webkit-backdrop-filter: blur(15.1px)
	cursor: pointer
	transition: all 0.2s linear
	opacity: 0
	visibility: hidden
	&.active
		opacity: 1
		visibility: visible
aside
	width: 18.5vw
	height: 100vh
	position: fixed
	z-index: 400
	left: 0
	top: 0
	padding: 36px 36px 36px
	background-color: $w
	box-shadow: 6px 0 18px 0 rgba($b, 0.06)
	text-align: center
	color: $gd
	display: flex
	flex-direction: column
	.logo
		transition: all 0.2s linear
		filter: grayscale(100%)
		&:hover
			filter: grayscale(0)
	.openForm
		margin-top: 36px
		padding: 13px 0 14px
		width: 100%
		border-radius: 30px
		background-color: $tsp
		border: solid 2px $purple
		font-size: 18px
		font-weight: 500
		&:hover
			background-color: $purple
			color: $w
	nav
		margin-top: 60px
		li
			display: block
			font-size: 16px
			font-weight: 500
			text-transform: uppercase
			letter-spacing: 0.96px
			cursor: pointer
			&:not(:first-child)
				margin-top: 30px
			&:hover
				color: $purple
	.aside_contacts
		margin-top: auto
		.phone
			font-size: 24px
			font-weight: 500
			position: relative
			> a
				display: flex
				justify-content: center
				align-items: center
				white-space: nowrap
				&:hover
					color: $purple
					+ ul
						max-height: 300px
						opacity: 1
						visibility: visible
				.fa-telegram-plane
					margin-right: 8px
					opacity: 0.5
					font-size: 20px
				.fa-chevron-down
					margin-left: 8px
					opacity: 0.5
					font-size: 16px
					font-weight: 200
			> ul
				position: absolute
				left: 0
				top: 100%
				right: 0
				max-height: 0
				opacity: 0
				visibility: hidden
				transition: all 0.2s linear
				background-color: $w
				padding: 0 10px 10px 10px
				&:hover
					max-height: 300px
					opacity: 1
					visibility: visible
				li
					margin-top: 8px
				li:hover a
					color: $purple
		span
			margin-top: 24px
			font-size: 18px
		.languages
			margin-top: 36px
			li
				font-size: 14px
				font-weight: 500
				text-transform: uppercase
				padding: 0 18px
				&:not(:first-child)
					border-left: 1px solid rgba($gd, 0.1)
				&.current
					color: rgba($gd, 0.3)
					pointer-events: none
				&:hover a
					color: $purple

.submenus
	width: 43vw
	height: 100vh
	position: fixed
	z-index: 200
	left: 18.5vw
	top: 0
	bottom: 0
	padding: 144px 144px 0 72px
	background-color: $w
	text-align: left
	transition: all 0.2s linear
	opacity: 0
	visibility: hidden
	transform: translateX(-30%)
	&.active
		opacity: 1
		visibility: visible
		transform: translateX(0)
	.submenu
		transition: all 0.2s linear
		display: none
		&.active
			display: block
	ul
		margin-top: 72px
		li
			font-size: 24px
			&:not(:first-child)
				margin-top: 24px
			&:hover a
				color: $purple
	.closeSubmenus
		position: absolute
		right: 48px
		top: 48px
		cursor: pointer
		svg
			stroke: $gm
			stroke-width: 2px
		&:hover svg
			stroke: $purple

header
	display: none
	width: 100%
	height: 72px
	background-color: $w
	box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06)
	position: fixed
	z-index: 400
	left: 0
	top: 0
	right: 0
	transition: all 0.2s linear
	&.hide
		opacity: 0
		visibility: hidden
	.wrapper
		display: flex
		justify-content: space-between
		align-items: center
		padding: 12px 0
	.logo
		transition: all 0.2s linear
		filter: grayscale(100%)
		&:hover
			filter: grayscale(0)
	.buttons
		display: flex
		justify-content: space-between
		align-items: center
		position: relative
		button
			&:not(:first-child)
				margin-left: 18px
			svg
				width: 30px
				height: 30px
				fill: rgba($gm, 0.5)
			&:hover svg
				fill: rgba($purple, 1)
			&.closeHambMenu
				stroke: rgba($gm, 0.5)
				svg
					stroke-width: 3px
				&:hover svg
					stroke: rgba($purple, 1)
	.openHambMenu
		right: 0
		transition: all 0.2s linear
		opacity: 0
		visibility: hidden
		position: absolute
		&.active
			opacity: 1
			visibility: visible
			position: relative
	.closeHambMenu
		right: 0
		transition: all 0.2s linear
		opacity: 0
		visibility: hidden
		position: absolute
		&.active
			opacity: 1
			visibility: visible
			position: relative

.hambMenu
	display: none
	width: 100%
	background-color: $cream
	position: fixed
	z-index: 400
	left: 0
	top: 72px
	right: 0
	padding: 24px 18px 36px
	overflow-y: scroll
	max-height: 70vh
	transition: all 0.2s linear
	opacity: 0
	visibility: hidden
	&.active
		opacity: 1
		visibility: visible
	.aside_contacts
		width: max-content
		margin: 0 auto
		.phone
			font-size: 20px
			font-weight: 500
			position: relative
			> a
				display: flex
				justify-content: center
				align-items: center
				&:hover
					color: $purple
					+ ul
						max-height: 300px
						opacity: 1
						visibility: visible
				.fa-telegram-plane
					margin-right: 8px
					opacity: 0.5
					font-size: 20px
				.fa-chevron-down
					margin-left: 8px
					opacity: 0.5
					font-size: 16px
					font-weight: 200
			> ul
				position: absolute
				z-index: 200
				left: 0
				top: 100%
				right: 0
				max-height: 0
				opacity: 0
				visibility: hidden
				transition: all 0.2s linear
				background-color: $cream
				padding: 0 10px 10px 10px
				text-align: center
				&:hover
					max-height: 300px
					opacity: 1
					visibility: visible
				li
					margin-top: 8px
				li:hover a
					color: $purple
		span
			margin-top: 24px
			font-size: 18px
		.languages
			margin-top: 24px
			li
				font-size: 14px
				font-weight: 500
				text-transform: uppercase
				padding: 0 18px
				&:not(:first-child)
					border-left: 1px solid rgba($gd, 0.1)
				&.current
					color: rgba($gd, 0.3)
					pointer-events: none
				&:hover a
					color: $purple
	nav
		margin-top: 24px
		padding-top: 24px
		border-top: 1px solid rgba($gd, 0.1)
		.mainItem
			display: block
			width: max-content
			&:not(:first-child)
				margin-top: 30px
			&.active
				h4 i
					transform: rotate(180deg)
				.submenu
					max-height: 1000px
					opacity: 1
					visibility: visible
					margin-top: 18px
		h4
			display: flex
			justify-content: space-between
			align-items: center
			cursor: pointer
			font-size: 20px
			font-weight: 500
			transition: all 0.2s linear
			&:hover
				color: $purple
				i
					color: $purple
			i
				font-size: 12px
				font-weight: normal
				color: $gm
				transition: all 0.2s linear
				transform: rotate(0)
		.submenu
			padding-right: 36px
			transition: all 0.2s linear
			max-height: 0
			opacity: 0
			visibility: hidden
			margin-top: 0
			li
				display: block
				width: max-content
				font-size: 18px
				line-height: 1.33
				&:not(:first-child)
					margin-top: 12px
				&:hover
					color: $purple
	.openForm
		margin: 36px auto 0
		display: block
		padding: 13px 0 14px
		width: 100%
		max-width: 324px
		border-radius: 30px
		background-color: $tsp
		border: solid 2px $purple
		font-size: 18px
		font-weight: 500
		&:hover
			background-color: $purple
			color: $w

.modalVideo
	position: fixed
	display: flex
	z-index: 1000
	top: 50%
	left: 59vw
	transform: translate(-50%, -50%)
	width: 70vw
	height: 50vw
	max-height: 70vh
	background-color: $w
	padding: 36px
	box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.12)
	transition: all 0.2s linear
	opacity: 0
	visibility: hidden
	&.active
		opacity: 1
		visibility: visible
	.closeVideo
		position: absolute
		right: 24px
		top: 24px
		cursor: pointer
		svg
			stroke: $gm
			stroke-width: 2px
		&:hover svg
			stroke: $purple
	iframe
		width: 100%
		height: 93%
		margin-top: auto
